.slide-show-image {
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  background: #ebebeb;
}

nav > div {
  display: flex;
  padding: 10px;
  border-bottom: solid 2px;
  border-bottom: solid 3px;
}

nav > div:nth-child(1) {
  border-bottom-color: #ef289d;
}
nav > div:nth-child(2) {
  border-bottom-color: #9c1bbc;
}
nav > div:nth-child(3) {
  border-bottom-color: #06680d;
}
nav > div:nth-child(4) {
  border-bottom-color: #fb5d01;
}
nav > div:nth-child(5) {
  border-bottom-color: #f5a002;
}
nav > div:nth-child(6) {
  border-bottom-color: #0714a2;
}
nav > div:nth-child(7) {
  border-bottom-color: #d6011d;
}

.text1 {
  top: 447px;
  left: 626px;
  width: 1271px;
  height: 152px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-76) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-4b526b);
  text-align: left;
  font: normal normal normal 52px/76px Heebo;
  letter-spacing: 0px;
  color: #4b526b;
  opacity: 1;
}

.text2 {
  top: 368px;
  left: 650px;
  width: 674px;
  height: 435px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-55) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 52px/55px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.text3 {
  top: 148px;
  left: 464px;
  width: 993px;
  height: 316px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-50) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 52px/50px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.text4 {
  top: 216px;
  left: 82px;
  width: 737px;
  height: 357px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-76) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-0683f3);
  text-align: left;
  font: normal normal normal 52px/76px Heebo;
  letter-spacing: 0px;
  color: #0683f3;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.text5 {
  top: 436px;
  left: 285px;
  width: 1259px;
  height: 435px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-55) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 52px/55px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.text6 {
  top: 81px;
  left: 54px;
  width: 645px;
  height: 435px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-55) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 52px/55px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.text7 {
  top: 194px;
  left: 596px;
  width: 674px;
  height: 435px;
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-52) /
    var(--unnamed-line-spacing-55) var(--unnamed-font-family-heebo);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 52px/55px Heebo;
  letter-spacing: 0px;
  color: #ffffff;
  text-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.right-content {
  padding: 10px;
}

.login {
  background-color: #32d8db;
}
