[title='Remove file'] {
    display: none !important;
}

.pg-viewer-wrapper {
    overflow-y: scroll;
}
  
.pg-viewer-wrapper #docx {
      width: 100%;
      height: 100%;
    }
    
.pg-viewer-wrapper .document-container {
    padding: 30px;
    width: 700px;
    background: white;
    margin: auto;
}

video {
    width: 100%;
}